@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar">

            <li>@Html.ActionLink("Home", "Index", "Home")</li>

            <li class="dropdown">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })@*<i class="bi bi-chevron-down"></i>*@
                <ul>
                    <li>@Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li>@Html.ActionLink("Register in hostel", "Index", "HostelRegistration")</li>
                    <li>@Html.ActionLink("Make a Complaint", "Create", "UserComplaint")</li>
                    

                    @*<li>@Html.ActionLink("Item Category", "Index", "ItemCategoryManager")</li>
                    *@
                    @if (User.IsInRole("Admin"))
                    {
                        
                    }
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

    }
}
else
{
<ul class="navbar">
    <li>@Html.ActionLink("Home", "Index", "Home"@*htmlAttributes: new { @class = "active" }*@)</li>
    @if (!(User.Identity.IsAuthenticated))
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    }

</ul>
}
