@model BHMS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }
    </style>
    <style>
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />
    <link rel="stylesheet" href="~/Content/CSS/manage/style.css" />
</head>
<body>
    <div>
        <link href="~/Content/CSS/manage/manage19416.css" rel="stylesheet" />

        <div class="manage19416-container">
            <div class="manage19416-manage19416">

                @*logo*@
                <img src="~/Content/CSS/manage/imgs/bulogo319418-b4q-200w.png"
                     alt="BULOGO319418"
                     class="manage19416-image2" />

                <img src="~/Content/CSS/manage/imgs/rectangle5119417-vcwf-800h.png"
                     alt="Rectangle5119417"
                     class="manage19416-image" />


                <div class="manage19416-dropdown19786">
                    <nav id="navbar" class="navbar">
                        <ul>

                            <li class="dropdown">
                                <a href="#"><span style="color: black">Options</span> <i class="bi bi-chevron-down" style="color:black"></i></a>
                                <ul>
                                    <li>@Html.ActionLink("Item Registration", "Create", "ItemManager")</li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Create & Assign Roles", "Index", "Role")</li>
                                        <li>@Html.ActionLink("Create & Delete Item Category", "Index", "ItemCategoryManager")</li>
                                        <li>@Html.ActionLink("Create & Delete Hostels", "Index", "Hostel")</li>

                                        <li>@Html.ActionLink("View Registered Students", "StudentsThatAreSignedUp", "Admin")</li>
                                        <li>@Html.ActionLink("View Students Complaints", "Index", "UserComplaint")</li>
                                        <li>@Html.ActionLink("Make a Complaint", "Create", "UserComplaint")</li>

                                        <li>@Html.ActionLink("Upload Video to Cloud", "UploadVideo", "VideoUpload")</li>
                                        <li>@Html.ActionLink("Use Object Detector", "Index", "ObjectDetector")</li>


                                    }
                                </ul>
                            </li>

                        </ul>
                    </nav>

                    @*<button class="manage19416-button-i1978616">
            <span class="manage19416-text">
                <span class="manage19416-text01">Pick an item category</span>
            </span>
            <div class="manage19416-icon-i1978618">
                <img src="public/playground_assets/groupi1978619-18ha.svg"
                     alt="GroupI1978619"
                     class="manage19416-image1" />
            </div>
        </button>*@
                </div>
                <span class="manage19416-text02">
                    <span class="manage19416-text03">
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </span>
                </span>

                <span class="manage19416-text04">
                    <span class="manage19416-text05">
                        @Model.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </span>
                </span>

                <span class="manage19416-text06">
                    <span class="manage19416-text07">
                        @(Model.PhoneNumber ?? "None") [
                        @if (Model.PhoneNumber != null)
                        {
                            @Html.ActionLink("Change", "AddPhoneNumber")
                            @: &nbsp;|&nbsp;
                            @Html.ActionLink("Remove", "RemovePhoneNumber")
                        }
                        else
                        {
                            @Html.ActionLink("Add", "AddPhoneNumber")
                        }
                        ]
                    </span>
                </span>
                <span class="manage19416-text08">
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                                <input type="submit" value="Disable" class="enableLink" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
                </span>
                <span class="manage19416-text11">
                    <span class="manage19416-text12">External Login</span>
                </span>
                <span class="manage19416-text13">
                    <span class="manage19416-text14">Phone Number</span>
                </span>
                <span class="manage19416-text15">
                    <span class="manage19416-text16">Two-Factor Authentication</span>
                </span>
                <span class="manage19416-text17">
                    <span class="manage19416-text18">BHMS Options</span>
                </span>


                <img alt="Line319419"
                     src="public/playground_assets/line319419-ot5.svg"
                     class="manage19416-svg" />
                <span class="manage19416-text21">
                    <span class="manage19416-text22">Manage</span>
                </span>
                <span class="manage19416-text23">
                    <span class="manage19416-text24">Change your account settings</span>
                </span>
                <span class="manage19416-text25">
                    <span class="manage19416-text26">Password</span>
                </span>
                @*<img alt="Line419432"
                     src="public/playground_assets/line419432-ngz.svg"
                     class="manage19416-svg1" />
                <img alt="Line519433"
                     src="public/playground_assets/line519433-5z49.svg"
                     class="manage19416-svg2" />
                <img alt="Line619434"
                     src="public/playground_assets/line619434-24uh.svg"
                     class="manage19416-svg3" />
                <img alt="Line719436"
                     src="public/playground_assets/line719436-dave.svg"
                     class="manage19416-svg4" />*@
            </div>
        </div>
    </div>
</body>



<style>
    @*body{
        background-color:aqua;
    }*@
</style>


<!--<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>-->
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@

        <!--<dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
        @if (User.Identity.IsAuthenticated)
        {
            <dt>BHMS OPTIONS:</dt>
            <dd>
                <nav id="navbar" class="navbar">
                    <ul>

                        <li class="dropdown">
                            <a href="#"><span style="color: black">Options</span> <i class="bi bi-chevron-down" style="color:black"></i></a>
                            <ul>
                                <li>@Html.ActionLink("Item", "index", "ItemManager")</li>
                                <li>@Html.ActionLink("Item Category", "Index", "ItemCategoryManager")</li>
                                <li>@Html.ActionLink("View Complaints", "Index", "UserComplaint")</li>

                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Item", "index", "ItemManager")</li>
                                    <li>@Html.ActionLink("Item Category", "Index", "ItemCategoryManager")</li>
                                    <li>@Html.ActionLink("View Role", "Index", "Role")</li>
                                    <li>@Html.ActionLink("Assign role", "RegisterRole", "Account")</li>
                                    <li>@Html.ActionLink("Create Role", "Create", "Role")</li>
                                    <li>@Html.ActionLink("Roles", "Index", "Role")</li>

                                    <li class="dropdown">
                                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 1</a></li>
                                            <li><a href="#">Deep Drop Down 2</a></li>
                                            <li><a href="#">Deep Drop Down 3</a></li>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>

                    </ul>
                </nav>
            </dd>

        }
    </dl>
</div>



@Html.ActionLink("Upload Video", "UploadVideo", "VideoUpload")-->
