@model BHMS.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }
    </style>
    <style>
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet" href="~/Content/CSS/sendOtp/style.css" />
</head>
<body>
    <div>
        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)

            <link href="~/Content/CSS/sendOtp/send-o-t-p26221.css" rel="stylesheet" />

            <div class="send-o-t-p26221-container">
                <div class="send-o-t-p26221-send-o-t-p26221">

                    <img src="~/Content/CSS/sendOtp/imgs/bulogo326528-ci2f-200w.png"
                         alt="BULOGO326528"
                         class="send-o-t-p26221-image1" />

                    <img src="~/Content/CSS/sendOtp/imgs/rectangle5126522-h5er-700w.png"
                         alt="Rectangle5126522"
                         class="send-o-t-p26221-image" />


                    <span class="send-o-t-p26221-text">
                        <span class="send-o-t-p26221-text01">

                            <span>Send Verification Code</span>
                        </span>
                    </span>
                    <span class="send-o-t-p26221-text05">
                        <span class="send-o-t-p26221-text06">
                            <span>
                                Select Two-Factor Authentication Provider:

                            </span>
                            <br />
                            <span>@Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)</span>
                        </span>
                    </span>
                    <div class="send-o-t-p26221-group7026525">
                        <span class="send-o-t-p26221-text10">
                            <span class="send-o-t-p26221-text11">Send OTP</span>
                        </span>
                    </div>

                    <input type="submit" value="Send Code" class="send-o-t-p26221-group7026525" />
                </div>
            </div>
        }

    </div>
</body>

@*@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Send verification code</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
