@model BHMS.CORE.Models.HostelRegistration

@{
    ViewBag.Title = "Create";
}

<head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }
    </style>
    <style>
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />
    <link rel="stylesheet" href="~/Content/CSS/selectRoom/style.css" />
</head>
<body>
    <div>
        <link href="~/Content/CSS/selectRoom/select-room197165.css" rel="stylesheet" />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            var g = 0;
            var bb = "";

            foreach (var a in ViewBag.room)
            {
                bb = a;
            }

            <div class="select-room197165-container">
                <div class="select-room197165-select-room197165">


                    <img src="~/Content/CSS/selectRoom/imgs/bulogo3197166-zc2-200w.png"
                         alt="BULOGO3197166"
                         class="select-room197165-image" />


                    <img src="~/Content/CSS/selectRoom/imgs/rectangle51197167-pk8q-700w.png"
                         alt="Rectangle51197167"
                         class="select-room197165-image1" />

                    @*<button class="select-room197165-button197175">
                        <span class="select-room197165-text">
                            <span class="select-room197165-text01">

                            </span>
                        </span>

                        <div class="select-room197165-icon197177">
                            <img src="public/playground_assets/group197178-vaec.svg"
                                 alt="Group197178"
                                 class="select-room197165-image2" />
                        </div>
                    </button>*@
                <span class="select-room197165-button197175">
                    @Html.DropDownListFor(model => model.room, new SelectList(ViewBag.room), new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.room, "", new { @class = "text-danger" })
                </span>
                    
                    <span class="select-room197165-text02">
                        <span class="select-room197165-text03">

                            <span>Hostel Registration</span>
                        </span>
                    </span>

                    @Html.EditorFor(model => model.roommateNo, new { htmlAttributes = new { @class = "select-room197165-svg" } })
                    @Html.ValidationMessageFor(model => model.roommateNo, "", new { @class = "text-danger" })

                    <p class="responseMsg">@ViewBag.Error </p>
                    

                    <span class="select-room197165-text07">
                        <span class="select-room197165-text08">
                            Desired Roommates’ Matriculation Number
                        </span>
                    </span>
                    <span class="select-room197165-text09">
                        <span class="select-room197165-text10">Room Number</span>
                    </span>


                    <input type="submit" value="Submit" class="select-room197165-group70197171" />
                </div>
            </div>

        }

    </div>
</body>

 


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
