@model BHMS.CORE.Models.ItemCategory
<link rel="stylesheet" href="~/assets/regPage/fonts/material-icon/css/material-design-iconic-font.min.css">


@{
    ViewBag.Title = "Delete An Item Category";
}

<head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }
    </style>
    <style>
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet" href="~/Content/CSS/createItemCategory/style.css" />
</head>
<body>
    <div>
        <link href="~/Content/CSS/createItemCategory/createan-item-category1069.css" rel="stylesheet" />

        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="createan-item-category1069-container">
                <div class="createan-item-category1069-createan-item-category1069">

                    <img src="~/Content/CSS/createItemCategory/imgs/bulogo2271697-quab-200w.png"
                         alt="BULOGO2271697"
                         class="createan-item-category1069-image" />

                    <div class="createan-item-category1069-group624217">
                        <div class="createan-item-category1069-group564230">

                            <span class="createan-item-category1069-image1">
                                <span class="createan-item-category1069-text">
                                    @*<span class="createan-item-category1069-text01">Create</span>*@
                                    <input type="submit" value="Delete" />
                                </span>
                            </span>



                        </div>
                    </div>

                    <span class="createan-item-category1069-text02">
                        <span class="createan-item-category1069-text03">
                            @*<span>BUHMS</span>*@
                            <br />
                            <span>Delete this item?</span>
                            <br />
                            <span></span>
                        </span>
                    </span>

                    <span class="createan-item-category1069-text11">
                        <span class="createan-item-category1069-text12">CreatedAt</span>
                    </span>

                    @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "createan-item-category1069-image2" } })
                    @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })


                    <span class="createan-item-category1069-text13">
                        <span class="createan-item-category1069-text14">
                            @Html.DisplayNameFor(model => model.Category)
                        </span>
                    </span>

                    @*<span class="createan-item-category1069-image3">
                        <span style="padding:10px 20px; margin-top: 50px;">
                            @Html.DisplayFor(model => model.Category)
                        </span>
                        
                    </span>*@
                    

                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "createan-item-category1069-image3", @placeholder = "Item Category" } })





                    @*<img src="public/playground_assets/user5621-246e-200h.png"
        alt="User5621"
        class="createan-item-category1069-image4" />*@
                    @*<span class="createan-item-category1069-text15">
            <span class="createan-item-category1069-text16">
                Welcome back, 18/0649
            </span>
        </span>*@
                </div>
            </div>

        }

    </div>
</body>

@*
<h2>Delete An Item Category</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
*@