

@model IEnumerable<BHMS.CORE.Models.VidUpload>

@{
    ViewBag.Title = "Object detection";
}

<h2>My Items</h2>
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New", "ObjectDetector")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Uploadtumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="img-thumbnail" style="height:50px" src="@Html.Raw(item.Uploadtumb)" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>


            <td>
                @Html.ActionLink("Investigate", "ObjectDetector", new { id = item.Id }) |
                @Html.ActionLink("saved insights", "Detected", new { id = item.Id }) |

            </td>
        </tr>
    }

</table>
