@model BHMS.CORE.Models.VidUpload
@{
    ViewBag.Title = "Upload a Video";
}

<head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }
    </style>
    <style>
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
    <link rel="stylesheet" href="~/Content/CSS/videoUploadMissingItem/style.css" />
</head>
<body>
    <div>
        

            <link href="~/Content/CSS/videoUploadMissingItem/missing-item9651.css" rel="stylesheet" />

            <div class="missing-item9651-container">
                @using (Html.BeginForm("UploadVideo", "VideoUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="missing-item9651-missing-item9651">
                    <img src="~/Content/CSS/videoUploadMissingItem/imgs/rectangle479652-r4hk-700w.png"
                         class="missing-item9651-image" />
                    <span class="missing-item9651-text">
                        <span class="missing-item9651-text01">
                            <br />
                            <span>Report a missing item</span>
                        </span>
                    </span>

                    <img src="~/Content/CSS/videoUploadMissingItem/imgs/bulogo310523-7b6g-200w.png"
                         alt="BULOGO310523"
                         class="missing-item9651-image1" />


                    <span class="missing-item9651-text09">
                        <span class="missing-item9651-text10">
                            Enter the name of your missing item
                        </span>
                    </span>
                    @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "missing-item9651-svg", @placeholder = "Missing item name" } })
                    @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })


                    <span class="missing-item9651-text11">
                        <span class="missing-item9651-text12">
                            Describe your missing item
                        </span>
                    </span>
                    @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "missing-item9651-svg1", @placeholder = "Missing item description" } })
                    @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                    @if (@ViewBag.Message == "File upload failed!!")
                    {
                        <p class="viewBagErrorMessageRed">@ViewBag.Message</p>
                    }
                    else
                    {
                        <p class="viewBagErrorMessageGreen">@ViewBag.Message</p>
                    }




                    <div class="missing-item9651-group6910517">
                        <span class="missing-item9651-text05">
                            @Html.TextBox("file", "", new { @type = "file", @class = "missing-item9651-text06" })
                        </span>
                    </div>

                    @{
                        if (ViewBag.Result == "OK")
                        {
                            <p class="viewBagErrorMessageGreen">Video uploaded successfully</p>
                        }
                        else if (ViewBag.Result == null)
                        {

                        }
                        else
                        {
                            <p class="viewBagErrorMessageRed">Video upload was not successful</p>
                        }
                    }
                    <p>@ViewBag.Result</p>
                    <p></p>


                    @*<div class="missing-item9651-group7010520">
                        <span class="missing-item9651-text07">
                            <span class="missing-item9651-text08"></span>
                        </span>
                    </div>*@

                    <input type="submit" value="Upload" class="missing-item9651-group7010520" />

                </div>

                }

            </div>
        </div>
</body>

@*@using (Html.BeginForm("UploadVideo", "VideoUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            @ViewBag.Messag
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
            @{
                if (ViewBag.Result == "OK")
                {
                    <p>Vido upload was successful</p>
                }
                else if (ViewBag.Result == null)
                {

                }
                else
                {
                    <h2>Video upload was not successful</h2>
                }
            }
            <p>@ViewBag.Result</p>
            <p>@ViewBag.Message</p>
        </div>


    </div>
}*@